*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    
}

i{
    cursor: pointer;
}
a{
   text-decoration: none;
   color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #264653;
    padding: 15px 50px;

    margin-bottom: 30px;
}

.cart{
    position: relative;
    background-color: white;
    color: #264653;
    padding: 7px;
    font-size: 20px;
    border-radius: 4px;
}

.cartamount{
    position: absolute;
    top: -13px; right: -10px;
    font-size: 15px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3.5px;
}

.shop{
    display: grid;
    grid-template-columns: repeat(4 , 223px);
    gap: 30px;
    justify-content: center;
}

.item{
    border: 2px solid #264653;
    border-radius: 4px;
}

.item .details {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.price-quant{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.buttons{
    display: flex;
    gap: 8px;  
    justify-content: space-around;
}

.bi-plus-lg{
    color: green;
}

.bi-dash-lg{
    color: red;
}

/* Cart Styling */
.text-center{
    text-align: center;
    margin-bottom:20px ;
}

.HomeBtn{
    padding: 6px;
    margin: 10px;
    background: #264653;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.bi-x-lg{
    color: red;
    font-weight: bold;
}

.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1 , 320px);
    justify-content: center;
    gap: 15px;
}

.cart-item{
    border: 2px solid #264653 ;
    border-radius: 5px;
    display: flex;
}

.title-price-x{
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px;
}

.title-price-x h4{
    display: flex;
    align-items: center;
    gap: 10px;
} 

.item-price{
    background-color: #264653;
    color: white;
    padding:3px 6px;
    border-radius: 3px;
}

.total-item-price{
    margin: 10px;
    align-items: center;
}





@media (max-width:1000px) {
    .shop{
    grid-template-columns: repeat(2 , 223px);
    }
}


@media (max-width:500px) {
    .shop{
    grid-template-columns: repeat(1 , 223px);
    }
}